{% extends 'layout.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="card">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field }}
                {% endfor %}
                <a href="#" class="strolch-button"><i class="fas fa-trash-alt"></i></a>
            </div>
        {% endfor %}
        <input type="submit" value="Add/Save" class="strolch-button">
    </form>
{% endblock %}