{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body class="w3-light-gray w3-cursive">
<nav>
    {% include 'navigation.html' %}
</nav>
<div id="content">
    <div class="w3-container w3-cursive" style="position: relative;">
        <h1 class="w3-cursive">{{ title }}</h1>
        {% block title %}
        {% endblock %}
    </div>
    <div class="w3-container">
        {% block content %}{% endblock %}
    </div>
</div>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>