{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
    <script src="https://kit.fontawesome.com/cdec119da7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'home' %}" class="logo"><img src="{% static 'images/logo.png' %}" id="logo"/></a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'text_commands' %}" {% if title == "Text Commands" %}class="active"{% endif %}>Text
                Commands</a></li>
            <li><a href="{% url 'klassenbuch' %}"
                   {% if title == "Klassenbuch" %}class="active"{% endif %}>Klassenbuch</a></li>
            <li><a href="{% url 'timers' %}" {% if title == "Timers" %}class="active"{% endif %}>Timers</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
<div id="content">
    <h1>{{ title }}</h1>
    {% block content %}{% endblock %}
</div>
</body>
</html>