{% extends 'layout.html' %}

{% block title %}
    <div style="width: 1000px; margin-bottom: 10px; position: absolute; top: 20px; left: 150px;">
        <div style="position:relative;">
            <form method="get">
                {% for field in search_form %}
                    {{ field }}
                {% endfor %}
                <div style="position: absolute; right: -48px; top:-1px;">
                    <button type="submit" value="" class="w3-btn w3-strolchpink" style="height: 41px;">
                        <em class="fas fa-search"></em></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="clip-list">
        {% for clip in clips %}
            <div class="w3-card w3-white clip-card">
                <div class="clip-thumbnail w3-display-container">
                    <a href="{% url "clip" clip.id %}?controls=1">
                        <img src="/media/clips/{{ clip.clip_id }}.jpg"
                             alt="Thumbnail for clip with title {{ clip.display_title }}"/>
                    </a>
                    <span class="w3-display-topleft">{{ clip.created_at|date:"d.m.Y H:i" }}</span>
                    <span class="w3-display-bottomright">{{ clip.duration }} sec</span>
                    <span class="w3-display-bottomleft">{{ clip.curator }}</span>
                </div>
                <div class="w3-display-container">
                    <div class="w3-display-container clip-info">
                        <p class="clip-title">
                            {% if clip.category %}
                                {{ clip.category }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </p>
                        <p class="w3-bold">{{ clip.display_title }}</p>
                    </div>
                    {% if allow_edit %}
                        <div class="w3-display-topright clip-edit-buttons">
                            <a href="{% url "clip_edit" clip.id %}" class="w3-button w3-strolchpink clip-edit"
                               title="Edit">
                                <em class="fas fa-pencil-alt"></em>
                            </a>
                            {% if clip.is_in_loop %}
                                <a href="#" class="w3-button w3-strolchpink" onclick="setInLoop({{ clip.id }}, false)"
                                   title="Remove from Loop">
                                    <em class="fas fa-ban"></em>
                                </a>
                            {% else %}
                                <a href="#" class="w3-button w3-strolchgray" onclick="setInLoop({{ clip.id }}, true)"
                                   title="Add to Loop">
                                    <em class="fas fa-sync-alt"></em>
                                </a>
                            {% endif %}
                            {% if clip.is_published %}
                                <a href="#" class="w3-button w3-strolchpink" onclick="setVisible({{ clip.id }}, false)"
                                   title="Hide">
                                    <em class="fas fa-eye-slash"></em>
                                </a>
                            {% else %}
                                <a href="#" class="w3-button w3-strolchgray" onclick="setVisible({{ clip.id }}, true)"
                                   title="Show">
                                    <em class="fas fa-eye"></em>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <p>
                    {% for tag in clip.tags.all %}
                        <a href="{% url "clips" %}?search={{ tag.name }}" style="text-decoration: none;">
                            <span class="w3-tag w3-round w3-strolchpink">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="w3-container w3-center w3-margin-bottom">
        <div id="pagination" class="w3-bar w3-border w3-round">
            {% for p in pages %}
                {% if forloop.first and page != p %}
                    <a href="#" id="prev" class="w3-bar-item w3-button">&laquo;</a>
                {% endif %}
                <a href="#" class="w3-bar-item w3-button {% if p == page %}w3-strolchpink {% endif %} ">{{ p }}</a>
                {% if forloop.last and page != p %}
                    <a href="#" id="next" class="w3-bar-item w3-button">&raquo;</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
