{% extends 'layout.html' %}

{% block title %}
    <div style="width: 1000px; margin-bottom: 10px; position: absolute; top: 20px; left: 150px;">
        <div style="position:relative;">
            <form method="get">
                {% for field in search_form %}
                    {{ field }}
                {% endfor %}
                <div style="position: absolute; right: -48px; top:-1px;">
                    <button type="submit" value="" class="w3-btn w3-strolchpink" style="height: 41px;">
                        <em class="fas fa-search"></em></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for clip in clips %}
        <div class="w3-card w3-white clip-card"
             style="width: 480px; padding: 10px; box-sizing: content-box; float: left; margin-right: 10px; height:400px; overflow: hidden;">
            <div style="height: 272px; width: 480px; position: relative">
                <a href="{% url "clip" clip.id %}?controls=1">
                    <img src="/media/clips/{{ clip.clip_id }}.jpg"
                         alt="Thumbnail for clip with title {{ clip.display_title }}"/>
                </a>
                <span
                        style="position: absolute; left: 0; top: 0; color: white; background: rgba(0,0,0,0.6); border-radius: 0.2rem; padding: 5px; margin: 5px;">{{ clip.created_at|date:"j.m.Y H:i" }}</span>
                <span
                        style="position: absolute; right: 0; bottom: 0; color: white; background: rgba(0,0,0,0.6); border-radius: 0.2rem; padding: 5px; margin: 5px;">{{ clip.duration }}
                    sec
                </span>
                <span
                        style="position: absolute; left: 0; bottom: 0; color: white; background: rgba(0,0,0,0.6); border-radius: 0.2rem; padding: 5px; margin: 5px;">{{ clip.curator }}</span>
            </div>
            <div class="w3-display-container">
                <p class="w3-bold">{{ clip.display_title }}</p>

                {% if allow_edit %}
                    <a href="{% url "clip_edit" clip.id %}"
                       class="w3-button w3-strolchpink w3-display-topright clip-edit"><em
                            class="fas fa-pencil-alt"></em></a>
                {% endif %}
            </div>

            <p>
                {% for tag in clip.tags.all %}
                    <a href="{% url "clips" %}?search={{ tag.name }}" style="text-decoration: none;">
                        <span class="w3-tag w3-round w3-strolchpink">{{ tag.name }}</span>
                    </a>
                {% endfor %}
            </p>
        </div>
    {% endfor %}
    <div class="w3-container w3-center w3-margin-bottom">
        <div id="pagination" class="w3-bar w3-border w3-round">
            {% for p in pages %}
                {% if forloop.first and page != p %}
                    <a href="#" id="prev" class="w3-bar-item w3-button">&laquo;</a>
                {% endif %}
                <a href="#" class="w3-bar-item w3-button {% if p == page %}w3-strolchpink {% endif %} ">{{ p }}</a>
                {% if forloop.last and page != p %}
                    <a href="#" id="next" class="w3-bar-item w3-button">&raquo;</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
