#content {
    margin-left: 200px;
}

.w3-strolchdark {
    background: #222222;
    color: #e092b8;
}

.w3-strolchpink {
    background: #e092b8;
}

.w3-strolchpink:hover {
    background: #d2619b!important;
}

#logo {
    max-width: 100%;
}

.w3-form-container {
    margin-right: 50px;
}

.w3-display-topright .w3-button {
    margin-right: 1em;
}

.w3-card {
    margin-bottom: 20px;
}

textarea {
    max-height: 85px;
    resize: none;
}