#content {
    margin-left: 200px;
}

.w3-strolchdark {
    background: #222222;
    color: #e092b8;
}

.w3-strolchpink {
    background: #e092b8;
}

.w3-strolchpink:hover {
    background: #d2619b!important;
}

#logo {
    max-width: 100%;
}

.w3-form-container {
    margin-right: 50px;
}

.w3-display-topright .w3-button {
    margin-right: 1em;
}

.w3-form-bar-item {
    width: 100%;
    padding: 0!important;
}

.w3-card, w3-card-4, .w3-ul {
    margin-bottom: 20px;
}

textarea {
    max-height: 85px;
    resize: none;
}



.switch {
  position: relative;
  display: inline-block;
  width: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14.5px;
  width: 14.5px;
  left: 4px;
  bottom: 4px;
  background-color: #e092b8;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #d2619b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d2619b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17.5px);
  -ms-transform: translateX(17.5px);
  transform: translateX(17.5px);
}